*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
    font-family: arial;

}
.fourthsection .sideicon{
    position: absolute;
    margin-top:-340px;
    margin-left: 1000px;
}
.startbtn,.endbtn{
    border-radius:50%;
    width:42px;
    height:42px;
    margin-left: 10px;
    font-size: 15px;
    border:1px solid;
}
body{
    background-color:#FAF8ED;
}
nav{
    margin-top: 1.2%;
    flex-wrap: wrap;
    align-items: center;
} 
nav a{
    text-decoration: none;
    color:#5B5F62;
}
nav img{
    float: left;
    margin-left: 10%;
}
.list{
    display: flex;
    list-style:none;
    gap:2em; 
}
.icon{
    float: right;
   width:10em;
   height:30px;
   align-items: center;
   text-align: center;
   padding: 10px;
    display:flex;
    margin-top: -18px;
    margin-right: 8%;
}
.book{
    width:10em;
    border:1px solid #F66F4D;
    font-size:14px;
    height:3em;
    padding: 10px;
    color:#F66F4D;
    text-align: center;
    border-radius: 25px;
}
.icon img{
  float: right;
  padding-right: 12px;
  margin-left: -6px;
}
.flex-container{
   display: flex;
   flex-wrap: wrap;
   width:90%;
   margin:auto;
   padding-left: 20px !important;
}
.flex-item{
    padding: 7px;
}
.flex-item h4{
  align-items: center;
  text-align: center;
  margin-left:-5px;
}
nav .logo{
    font-weight: bold;
    padding-top: 12px;
}
.menu{
    float: right;
   margin-right:360px;
   margin-top: -12px;
}
#toggler,label{
    display: none;
}
#toggler,label{
    float: right;
    margin-right: 10%;
    width:30px;
}
section{   
    padding-top: 5%;
}
.home{
   padding-top: 5%;
   padding-bottom: 20px;
}
.discover{
    float: left;
    width:40%;    
}
.discover h1{
    width:60%;
    display: block;
    margin:auto;
    letter-spacing: 1px;
    font-size: 48px;
   }                                                                                                                                                                                       .startbtn{background-color:rgb(244, 244, 244);color:#353535}                                                                                                                                                           .visit{margin-top:-150px;margin-left:60px;color:white;}
    .endbtn{color:white;background-color:#353535}
.discover p{
    width:60%;
    display: block;
    margin:auto;
    color:#5B5F62;
    padding-top: 5%;
}                                                                                                                                                                                                  .plan{font-size: 14px; width:90% !important;letter-spacing: 0.5px;padding-left: 66px;padding-bottom:5px;}
.discover p:first-child{
    font-weight: 600;
}
.central{
    display: block;
    float: left;
    width:46%;
}
.date{
    display: block;
    float: left;
    width:44%;
}
.orange{
    display: block;
    float: left;
    width:7%;
   justify-content: center;
}
.data{
    width:80%;
    display:flex;
    flex-wrap:wrap;
    margin: auto;
    height:76px;
    border-radius: 30px;
    margin-top:8%;
    background-color: rgba(255, 255, 255, 0.901);
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 20px;
    align-items: center;
    border:2px solid black;
    border:none;margin-left:66px;
}
.data .orange img{
    width: 32px;
    height:35px;
    margin-top:20%;
    align-items: center;
}
.section{
    width:40%;
    float:left;
    display: block;
}
.menu-card{
    width:30%;
    float: left;
    padding-left: 120px;
    padding-top: 280px;
}
.first-image{
    width:35%;
    position: absolute;
    float: left;
    padding-left: 180px;
    z-index: -1;
    padding-top:20px;
}
.section-image{
    margin-top: -70px;
    background-color:rgb(244, 199, 117);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.telegram .smallimg{
    border: none !important;
    width:30px;
    height:30px;
    position: absolute;
    margin-top: -105px;
    margin-left: 660px;
}
.menuicon h5{
    background-color: white;
    text-align: center;
    width:134px;
    align-items: center;
    height:30px;
    padding-bottom: 45px;
    padding-top: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.sectionicon{
    display: flex;
    width:50px !important;
    margin-top: -19px;
    margin-left: 40px;
}
.circle{
    width:38px;
    margin-left: -16px;
}
.search{
    border-radius: 50%;
}
.bold{
    color:rgb(36, 36, 36) !important;
    font-size: 15px;
}
.signal{
    width:20px;
    height:40px;
}
.container .header{
    float: left;
    width:30%;
    margin-top: 12%;
    margin-left: 10%;
}
.map{
    position: absolute;
    margin-left:220px;
    margin-top: 300px;
    width:45px;
    border-radius: 20px;
    background-color: white;
    height:18px;
    padding: 2px;
    font-size: 11px;
}
.container h1{
    font-size: 40px;
}.firstpart{padding-left: 100px !important;}
.container p{
    padding:20px 0 22px 0;
    color:#5e5f5f;
}
.thirdsection{
    width:100%;
    padding-top: 10%;
    display:flex;
    flex-wrap: wrap;
}
.firstpart,.secondpart{
    width:45%;
    float:left;
}
.secondpart{width:55% !important;margin-top: -50px;}
.ellipse{
    margin-left: -25px;
}
.firstpart,.secondpart{
    padding:4%;
    padding-left: 10%;
}
.secondpart h5,.thirdsectionicon h1 .midicon-1 h4, .midicon-2 h4,.red{
    color:#F66F4D;
}
.thirdsectionicon{
    width:300px !important; 
}
.midicon-1 h4,.midicon-2 h4{
    font-size: 18px;
}
.holmes{
    width:85%;
    align-items: center;
    margin-left:10%;
    z-index: -1;
}
.thirdbgsection{
    position: absolute;
    float: left;
    margin-top: -29%;
    z-index: -2;
}
.thirdbg{
  width:80%;
  margin-left:7%;
}
.secondpart .experience h5{
    letter-spacing: 1.3px;
}
.secondpart{
    padding-top:10%;padding-left: 130px;
}
.secondpart .item h1{
    font-size: 28px;
    color:#F66F4D;
    letter-spacing: 1px;
}
.item{
   width:100px !important;
   padding-right: 7px;
}
.secondpart p{
    font-size: 13px;
    color:#5B5F62;
    margin-bottom: 4%;
    letter-spacing: 0.4px;
    word-spacing: 0.8px;
}
.thirdsectionicon{
    display: flex;width:380px !important;
    flex-wrap: wrap;
}
.thirdsectionicon div{
    background-color: #FAF8ED;
    width:26%;
    text-align: center;
    align-items: center;
}
.experience h5{
    padding-left: 4%;
}
.thirdsectionicon .item{
    background-color:white;
   margin-left: 8px;
   border-radius: 20px;
}
.secondpart .experience  h1{
    font-size: 40px;
    font-weight: bold;
    color:#353535
}
.midicon-1 h4 , .midicon-2 h4{
    padding-bottom: 5px;
    padding-top: 4px;
}
.midicon-2{
    height:90px;
    width:120px !important;
   text-align: center;
   font-size: 11px;
   font-weight: 400;
   position: absolute;
   margin-left: 18%;margin-top:-80px;
}
.midicon-2 h4{
    color:black;
}
.thirdsectionicon,.secondpart h1,.secondpart p{
    width:70%;
    padding:10px;
}
.midicon-1,.midicon-2{
    width:82px;
    background-color: white;
    border-radius: 20px;
    color:#5B5F62;
}
.midicon-1 img,.midicon-2 img{
    padding-top: 16px;
}
.midicon-1 p,.midicon-2 p{
    padding-bottom: 10px ;
}
.midicon-1{
   height:110px;
   text-align: center;
   font-size: 11px;
   font-weight: 400;
   position: absolute;
   margin-top: -12%; 
   width:80px;
}
.container .row{
    width:100%;
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
 }
 .fourthsection .container{
    padding-top: 30%;
 }
 .fourthsection .header h1{
    margin-left: 5%;
 }
 .fourthsection .row .profile-card{
    margin-top: -30%;
 }
 .find{ margin-top: -520px;
width:300px;color:#212121;}

 .profile-card{
    background-color:#FAF8ED;
    width:310px;
    height:380px;
    padding:0 30px;
    margin:20px 20px 10px 20px;
    box-shadow: 2px 2px 5px 3px white;
    border-radius: 10px;
 }
 .profile-content{
    padding-top:15px;
 }
 .profile-image img{
    width:290px;
    height:220px;
    margin-left: -20px;
    margin-top: -5px;
 }
 .profile-image{
    text-align: center;
 }
 .desc{
    padding-top:15px;
    text-align: center;
 }
 .desc h3{
    font-size: 18px;
 }
 .desc p{
    font-size: 16px;
    line-height: 1.3em;
    color:grey;
    font-size: 15px;
 }
 .firstbtn{
    width:7em;
    background-color:#353535;
    color:whitesmoke;
    border-radius:25px;
    border:none;
    height:2.5em;
 }
 .secondbtn{
    width:7em;
    color:#353535;
    background-color:#FAF8ED;
    border-radius:25px;
    border:2px solid #353535;;
    height:2.5em;
 }
 .desc h3,.title{
    float: left;
 }
  .desc p + p{
  float: left;
  padding-right: 10%;
  margin-top: -10px;
 }
 .desc .firstbtn,.desc .secondbtn{
   margin-left:49px;
 }
 .buttons .firstbtn ,.buttons .secondbtn{
    margin-left:10px;
 }
 .desc p{
   margin-top: -5px;
 }
 .buttons{
    margin: auto;
    align-items: center;
    width:56%;
 }
 .price{
    font-weight: bold;
    font-size: 15px;
    color:black
 }
 .section .destination{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    width:100%;
    -bottom: 20px;
 }
 .destination .heading h1,.destination .heading p{
    align-items: center;
    width:100%;
    margin: auto;
    text-align: center;
 }
 .destination .heading h1::first-letter{
    padding-left: 40px;
 }
 .dest-container{
    width:90%;
    display: flex;
    flex-wrap:wrap;
    margin:20px auto auto 22px ;
 }
 .firstdest{
    width:30%;
 }
 .firstdest img{
    width:230px;
    height:220px;
 }
 .firstdest div:last-child{
    margin-top: 10px;
 }
 .firstdest div:last-child img{
    margin-top:10px;
 }
 .destitems{
    width:20%;
 }
 .thirdest{
    width:18%;
    float: left;
 }
 .thirdicon-1{
    width:20%;
    float: left;
 }
 .horizontal{
     width:390px;
 }
 .thirdicon-1 img{
    width:150px;
    height:240px;
    padding-top:12px;
 }
 .thirdicon-2{
    width:20%;
 }
 .thirdicon-2 img{
    width:225px;
    height:240px;
    padding-top:12px;
    margin-left:135px;
 }
 .black{
    color:black;
    font-weight: bold;
 }
 .seconddest{
    width:32%;
    float: left;
 }
 .lastitems{
    display: flex;
    width:100%;
 }
 .lastitems div{
    padding-top: 10px;
 }
 .seconddest img{
    width:280px;
    height:460px;
    margin-left: -18px;
 }
 button{
    cursor: pointer;
 }
 .customer{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    padding-top: 10%;
 }
 .customer-img{
    width:50%;
    float: left;
 }
 .customer-content{
    width:50%;
    float: left;
    padding-top: 50px;
 }
 .boldtext{
    color:black !important;
    font-weight: bold;
    font-size: 18px;
 }
 .customer-img img{
    width:60%;
    align-items: center;
    margin:-2% 20% 0 20% ;
    border-radius:40%;
    background-color: #f9876ae8;
 }
 .customer-header h1{
    font-size: 48px;
    width:70%;
    padding-bottom: 20px;
    color:#29292a;
    align-items: center;
    padding-left: 10px;
    margin-left: 70px;
 }
 .content-section p:first-child{
    word-spacing: 1px;
    letter-spacing: 1.2px;
 }
 .customer-section{
    background-color:white;
 }
 .rating{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
 }
 .star{
    width:15px;
    width:15px;
 }
 .customer-footer h4{
    font-size: 16px;
    color:#4e4f4f;
    margin-top: 10px;
 } 
 .content-section{
    background-color: white;
    height:52%;
    width:68%;
    font-size: 14px;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin-left: 70px;
 }
 .content-section p{
    color:#525252;
    font-size: 14px;
 }
 .customer-footer p{
   margin-top: -15px;
 }
.signup{
    width:80%;
    margin: auto;margin-top: 60px;
}
.signuppage{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    border-radius: 10px;
    height:49vh;
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 4%;
    background-color: rgb(244, 199, 117);
    border:none
}
.box{
    padding-bottom: 15px;
    text-align: center;
    margin: auto;
}
 .signuppage h2{
    padding-bottom: 15px;
    color:#353535;
    font-size: 32px;
 }
 .signuppage p{
    color:#5a5959;
    font-size: 14px;
    word-spacing: 0.5px;
    width:80%;
    align-items: center;
    text-align: center;
    margin:-15px 0 20px 40px;
 }
 input[type=text]{
    padding-top: 20px;
    height:42px;
    width:30em;
    border:none;
    border-radius: 10px;
    padding: 7px;
 }
 .footer{
    width:100%;
    display: flex;
    flex-wrap:wrap;
 }
 .getapp{
    width:17%;
    float: left;
 }
 .company{
    width:17%;
    float: left;
 }
 .travellers{
    width:17%;
    float: left;
 }
 .resources{
    width:17%;
    float: left;
 }
 .footericon{
    width:32%;
    float: left;
    margin: auto;
    padding:0 70px;
 }
 .footericon p{
    width:50%;
 }
 .footer h4,.footericon .salty-icon{
    padding-bottom: 20px;
 }
.salty-icon,.footericon p{
    margin-top:-5px;
}
.salty-icon{
    font-weight: bold;
    font-size: 17px;
    margin-top: -40px;
    margin-left: 10px;
}
.saltytext{
    margin-top: -20px;
}
.text{
    margin-top: -20px;
}
 .footer{
    padding-top: 8%;
 }
 .footer p{
    font-size: 14px;
    margin-top: -15px;
 }

 .smallimg{
    width:18px;
    height:18px;
    border-radius: 50%;
    padding:3px;
    border:1px solid #353535;
 }
 .social{
  margin-top: 20px;
 }
 .social img{
    margin:3px;
 }
@media  screen and (max-width:650px) {
    .menu{
        width:100%;
        transform: scale(1.3,1);
        max-height: 0;
        overflow:hidden;
        justify-content: center;
        margin-right: 0;
        margin-left: 25px;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .logo img{
        padding-top: 40px;
        margin-left: -2px;
    }
    .container .header h1 {
        margin-top: 375px;
        align-items: center;
        text-align: center;
    }
    .logo p{
        padding-top: 32px;
        font-weight: bold;
    }
    nav img{
        margin-top: -10px;
    }
    label{
        display:flex;
    }
    .icon{
        display: none;
    }
    .book{
        margin-top: -15px !important;
        text-align: center;
        padding-top: 10px;
    }
    #toggler{
        border:3px solid black;
    }
    .logo{
        padding-left: 40px;
    }
    .sidebtn,.visit{display: none;}
    #toggler,label{
        margin-top: -15px;padding-left: 70px !important;
        transform: scale(1.6,1.6);
    }
    nav{
        margin-top: -15px;
    }
    #toggler:checked~.menu{
        max-height: 100%;
        left: 50%;
    }
    #toggler:checked~ section{
        margin-top: 100px !important;
    }
    #toggler:checked~ section{
        margin-top: 100px !important;
    }
    .telegram{
        display: none !important;
    }
    .map{
        display: none;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 2% 0;
        background-color:rgb(254, 253, 253);
        box-shadow: 2px 2px 2px 4px lightgrey;
    }
    .team-container{
       margin-top: 460px;
       align-items: center;
    }
    .icon{
        text-align: center;
    }
  .home .discover h1{
    text-align: center;
   align-items: center;
   text-align: center;
   margin:auto;
   display: block;
   width:320px;
  padding-left: 110px;
  padding-bottom: 20px;
  }
  .home .discover .plan{
   display: block;
   align-items: center;
   width:310px !important;
   margin-left: 40px;
   text-align: center;
   margin: auto;
   padding-bottom: 20px;
   padding-left: 100px;
  }
    .section .home{
        width:50%;display: block;object-fit: contain;
    }
    .data{
        width:300px;height:70px !important;font-size: 10px;margin-left:80px;padding-bottom: 20px;
    }
    .data p{
    margin: auto auto auto 66px;
    }
    .bold{font-size: 12px;}
    .data  p:nth-of-type(2){
        padding-bottom: 15px
    }
    .search{
     margin-left: 45px;
     width:20px !important; 
     height:20px !important;
     margin-top: 10px !important;
    }
  .menu-card{ 
    margin-top: 350px;
    margin-left: -26px;
  }
  .row .profile-card{
    height:410px !important;
  } 
  .row .firstbtn{
    width:50%;
  }
  .dubaiimg{
    width:90px;
  }
  .menuicon h5{
    width:90px;
    padding-bottom: 10px;
    font-size: 11px;
  }
  .circle{
    width:27px;
  }                                                                                                                                                           .rating{margin-left: -25px;}
  .sectionicon{
    margin-top: -10px !important;
    margin-left: 37px !important;
  }
    .section{
        width: 50%;
        align-items: center;
        margin-left:-50%;
    }
    .section .first-image{
        width:50%;
        display:block;
        align-items: center;
        margin: auto;
    }
    .first-image{
        position: relative;
        align-items: center;
    }
    .first-image img{
        object-fit: contain;
        width:230px;
        height:220px;
        align-items: center;
        margin-top: -240px;
        margin-left: -40px;
    }
    .central{
        margin-left:-50px;
    }
   .container,.flex-item{
        margin-left: 35px;
    }
     .header{
        display: block;
        width: 90%;
        margin: auto;
        text-align: center;
        align-items: center;
    }
    .flex-container{
        margin: auto;
        align-items: center;
        margin-left: -15px;
    }
    .flex-item{
        align-items: center;
        width: 100%;
        margin: auto;
        text-align: center;
        margin-left: 48px !important;
    }                                                                                                                                                                 .experience h1{font-size: 30px !important; width:200px !important;padding-left: 20px;margin-left:25px !important;}
    .thirdsection{
        width:100%;
        display: block;
    }
    .firstpart{
        width:100%;
        display: block;
        align-items: center;
        margin: auto;
    }
    .firstpart .thirdbgsection img{
       align-items: center;
       width:250px;
      margin-top: -30%;
    }
    .firstpart .midimage img{
        align-items: center;
        width:200px;
        position: absolute;
    }
    .thirdsection .firstpart{
        margin-top: 90% !important;
        width:50%;margin-left: -30px !important;
    }
    .holmes{
     width:190px;
     object-fit: contain;margin-top: -160px;
    }
    .secondpart{
        width:100%;
        align-items: center;
        margin-top: 300px !important;
        text-align: center;
        margin-left: -50PX;
    }.experience h5{display: none !important;}
    .secondpart .experience h5,.secondpart .experience h1,.secondpart .experience p{
        width:90%;
        align-items: center;
        text-align: center;
        margin: auto; 
        margin-top: -150px;
    }
    .secondpart .experience{
        padding:10px;
        letter-spacing: 0.4px;
    }
    .thirdsectionicon{
        align-items: center;
        margin: auto;
        width: 330px !important;
        padding:22px;
        display: block;
        font-size: 12px;
    }
    .item{
        align-items: center;
        margin-top: 20px;
        float: left;
        width:70px !important;
        height:98px !important;
        font-size: 12px;
    }
    .thirdsection .firstpart{
        margin-left: 20px;
    }
    .thirdsectionicon .item h1{
        font-size: 13px;
    }
    .thirdsectionicon .item p{
        font-size: 10px;
    }
    .midicon-1{
        margin-top: -10% !important;
    }
    .midicon-2{
        margin-top: -4px !important;
        margin-left: 40% !important;
        height:90px;
    }
    .row{
       padding:40px;
    }
   .flex-item{
    width:80%;
    margin:25px auto auto auto;
    padding: 0 10%;
    align-items: center;
    text-align: center;
    padding-left: 40px !important;
   }
   .thirdsection .experience p,.thirdsection .experience p h5{
    width:80%;
    align-items: center;
   }
   .thirdsection{
    align-items: center;
    margin-left: -2%;
    margin-top: -60px;
    padding-top: 50px;
   }
   .thirdbgsection img{
    margin-top:px;
   }
   .midicon-1{
    margin:50px 0 0 -2px;
    width:80px;
   }
   .midicon-2{
    margin:130px 0 0 210px;
    width: 90px !important;
   }
   .thirdsection .firstpart{
    width:90%;
    display: block;
   }
   .thirdsection img{
    align-items: center;
   }
   .fourthsection .header{
    margin:-240px auto auto auto;
    align-items: center;
    text-align: center;
    width:92%;
   }
   .fourthsection .row.desc{
   padding-bottom: 20px;
   }
   .fourthsection .row .profile-card{
    margin-top: 10%;
    align-items: center;
    margin: auto;
   }
   .fourthsection .row .profile-card img{
    width:220px;
    object-fit: contain;
   }
   .destination{
    width:80%;
    margin: auto;
    display: block;
    align-items: center;
    text-align: center;
    margin: 100px auto auto auto;
   }
   .destination .heading h1,.destination .heading p{
    display: block;
    margin: auto;
    align-items: center;
    text-align: center;
    text-align: center;
    padding: 5%;
    margin: auto;
   }
   .destination .heading h1{
    width:55% !important; 
    margin-left: -2px;
    text-align: center;
    align-items: cen;
   }           .midicon-1, .midicon-2 {font-size: 12px;}
   .destination .heading h1::first-letter{
    margin-left: 35px;
   }
   .dest-container img{
    margin-top: 20px;
   }
  .firstdest{
    width:100%;
    display: block;
    align-items: center;
    display: fle;
  }
  .firstdest .destitems{
    width:200px;
    align-items: center;
    margin: auto;
  }
  .firstdest .destitems img,.seconddest img{
    width:270px;
    height:200px;
    display: block;
    align-items: center;
    margin-left: -38px;
  }
  .seconddest {
    width:40%;
    display: block;
    margin: auto;
    align-items: center;
    margin-top: -8px;
  }
  .thirdest .lastitems{
    width:100%;
    display: block;
  }
  .thirdest .destitems{
    width:80%;
    display:block;
    margin: auto;
  }
  .thirdicon-1 img,.thirdicon-2 img, .thirdest .destitems img{
    width:260px;
    height:260px;
    display: block;
    margin: auto;
    margin-left: -219px;
    align-items: center;
  }
  .thirdicon-2 img{
    margin-top: -100px !important;
  }
  .thirdest .destitems img{
    margin-left:-210px;
    width:266px !important;
   margin-top: 230px !important;
  }
  .seconddest img{
    width:266px;
    height:200px;
    display: block;
    align-items: center;
    margin-left: -59px;
  }
   .buttons{
    width:50%;
    align-items: center;
    margin: auto;
    padding: 20px;
   }
   .firstbtn ,.buttons .secondbtn{
    align-items: center;
    margin: auto;
    text-align: center;
    width:33%;
    margin:2px;
   }
   .buttons .firstbtn,.buttons .secondbtn{
    width:100px;
    margin-left: -20px;
   }
   .buttons .firstbtn{
    margin-left: -22px !important;
    width:100px !important;
   }
   .customer{
    width:100%;
    display: block;
    margin:60px auto auto auto;
   }
   .customer-img,.customer-content{
    width:80%;
    align-items: center;
    text-align: center;
    margin:auto;
   }
   .customer img{transform:scale(0.8,0.8) !important;}
   .customer-img img{
    margin-left: -28px !important;
    object-fit: contain;
    align-items: center;
   }
   .customer-header h1,.content-section p{
    width:240px;
    align-items: center;
    margin:auto;
   }                                                                                                                                                                                        .signuppage p{font-size: 12px;margin-left: 12px;}                                                                                                  
   .customer-header h1{
    font-size: 38px;
    margin-left: 25px;
   }
   .customer-header h1:first-letter,.find{
    padding-left: 16px;
   }
   .content-section{
    width:100%;
    margin: auto;
    height:260px;
    margin-left:28px;
    padding: 10px  12px 0 10px;
   }
   .rating{
    padding-left: 90px;
    align-items: center;display: none;
   }
.customer-footer p{
    margin-top: -12px;font-size:11px;margin-left: -18px;
}
.trip{padding-right: 5px; font-size: 11px !important; width:200px !important;}
   .signup{
    width:90%;
    display: block;
    margin-top: 20px !important;
    margin: auto;
   }
   .signuppage{
    width:90%;
    height:280px;
    margin: auto;
    display: block;
    align-items: center;
    text-align: center;
   }
   .signuppage input[type=text]{
    width:80%;
   }
   .footer{
    display: block;width:100%;padding-top: 30%;
   }
   .footericon{
    width:300px;
    display:block;text-align: center; align-items: center;margin: auto;
   }
   .footericon p,.salty-icon,.social{
    width:150px;
    align-items: center;text-align: center;
   }
   .social{
    margin-top: -5px;
   }
   .resources{
    padding-top: 30px;
   }
   .resources,.travellers,.company,.getapp{
    width:100%;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 15px;
   }
   .team-container .header {

    /* BORDER: 1PX SOLID; */
    width: 100%;
    margin: 2%;
}
.team-container .header p {
    width: 200px !important;
    margin: auto;
}
   .data{
    width:250px;
    display: block;
    height:60px;
    align-items: center;
   }
   .row .firstbtn{
   margin-left:30px;
   width:90px; 
   } 
   .footer{
    padding-bottom: 20px;
   } 
   .secondpart .experience p,.secondpart .experience h{ width:280px !important;margin:auto;display: block;align-items: center;text-align: center;}
}